* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}



/* sidebar styles */

.sidebar {
  background-color: var(--backgroundColor-sidebar);
  padding: 60px 0 60px 0;
  width: 402px;
  height: calc(100% - 120px);
}

.name {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: var(--blue-color);
  margin: 0 0 var(--space-secondary) var(--space-primary);
}

.photo {
  width: 385px;
  height: 292px;
  margin: var(--space-secondary) 0 50px 0;
}

.sidebar .title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  color: var(--text-color-sidebar);
  padding-bottom: 15px;
  width: 289px;
  border-bottom: 6px solid var(--text-color-sidebar);
}

.contacts {
  margin-left: var(--space-primary);
}

.sidebar-title {
  color: var(--white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color-sidebar);
  margin-top: var(--space-secondary);
}

.contacts p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color-sidebar);
  margin-top: 10px;
}


.contact-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--blue-color);
  text-decoration: none;
}

.offer {
  margin-left: var(--space-primary);
  font-size: 24px;
}

.languages {
  margin: var(--space-secondary) 0 0 var(--space-primary);
}
.languages .title {
  margin-bottom: 25px;
}

.languages p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color-sidebar);
  margin-top: 15px;
}



/* main styles */

.main {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: var(--white-color);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 60px 55px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--dark-color);
  padding-bottom: var(--space-other);
  width: 660px;
  border-bottom: 5px solid var(--black-color);
}

/* summary styles */

.summary {
  margin-bottom: 50px;
}
.summary-description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
  margin-top: var(--space-other);
}

/* Skills styles */

.skills {
  width: 620px;
  margin-bottom: 50px;
}
.skills .list-items {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-other);
}
.skills .list-items ul {
  width: 300px;
}
.skills .list-items li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
  margin-left: 20px;
}

/* work styles */

.work {
  margin-bottom: 50px;
}
.work .title {
  margin-bottom: var(--space-other);
}
.work-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
  margin-bottom: 15px;
}

/* education styles */

.education-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-color);
  margin-top: var(--space-other);
}



/* FORM */

.form {
  width: 600px;
  height: 600px;
  padding: 20px;
  position: fixed;
  left: calc(50% - 320px);
  top: calc(50% - 320px);
}
.form h1, .form h2, .form table {
  margin-top: 10px;
}

input,
select,
textarea {
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  margin-top: 10px;
}

.contact-info table, .contact-info td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px 15px;
}

fieldset {
  padding: 10px;
}

input[type="email"] {
  width: 460px;
  height: 48px;
  background: var(--backgroundColor-input);
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--text-color-input);
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--text-color-label);
}

textarea {
  min-width: 460px;
  min-height: 139px;
  background: var(--backgroundColor-input);
  border-radius: 4px;
}
input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--text-color-placeholder);
}

select {
  width: 460px;
  height: 48px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--text-color-input);
  background: url(./img/mdi_arrow_drop_down.svg) no-repeat center right 0.75rem;
  background-color: var(--backgroundColor-input);
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
  min-width: 92px;
  height: 32px;
  background: var(--backgroundColor-button);
  border-radius: 6px;
  padding: 4px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white-color);
}
input[type="submit"]:hover {
  background: var(--backgroundColor-button-hover);
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--backgroundColor-button);
}
input:invalid {
  border: 1px solid var(--red-color);
}
.error {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--red-color);
}
input[type="email"]:invalid + .error {
  display: block;
}

input:valid {
  border: 1px solid var(--green-color);
}

@media screen and (max-width: 480px) {
  .main {
    width: 385px;
    flex-direction: column;
  }
  .main-content {
    padding: 30px 25px;
  }
  .sidebar {
    width: 385px;
  }
  .title {
    width: 335px;
  }
  .skills {
    width: 335px;
  }
}