* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 60px 55px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #1E1E1E;
  padding-bottom: 30px;
  width: 660px;
  border-bottom: 5px solid #000000;
}



/* summary styles */

.summary {
  margin-bottom: 50px;
}
.summary-description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #263036;
  margin-top: 30px;
}

/* Skills styles */

.skills {
  width: 620px;
  margin-bottom: 50px;
}
.skills .list-items {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.skills .list-items ul {
  width: 300px;
}
.skills .list-items li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #263036;
  margin-left: 20px;
}

/* work styles */

.work {
  margin-bottom: 50px;
}
.work .title {
  margin-bottom: 30px;
}
.work-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

/* education styles */
.education-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #263036;
  margin-top: 30px;
}

/* sidebar styles */

.sidebar {
  background-color: #86A3B4;
  padding: 60px 0 530px 0;
  width: 385px;
}

.name {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #1C2E8C;
  margin: 0 0 35px 40px;
}

.photo {
  width: 385px;
  height: 292px;
  margin-bottom: 50px;
}

.sidebar .title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  color: #263036;
  padding-bottom: 15px;
  width: 289px;
  border-bottom: 6px solid #263036;
}

.contacts, .languages {
  margin-left: 40px;
}

.sidebar-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #263036;
  margin-top: 35px;
}

.contacts p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #263036;
  margin-top: 10px;
}


.contact-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1C2E8C;
  text-decoration: none;
}

.languages {
  margin-top: 35px;
}
.languages .title {
  margin-bottom: 25px;
}

.languages p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1E1E1E;
  margin-top: 15px;
}